body.sign-in {
    background-color: #e6f2ff;
}

.container.sign-in-container {
    margin-top: 5%;
}

.card.sign-in-card {
    padding: 40px 0px 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .5);
}

img.sign-in-img {
    display: block;
    margin: auto;
    padding: 0 2rem 2rem;
    width: 70%;
}

form.sign-in-form {
    max-width: 350px;
    margin: auto;
}

button.sign-in-btn {
    color: #fff;
    background-color: #d64829;
    width: 100%;
    margin-bottom: 1rem;
}

input.sign-in-checkbox {
    margin-top: 6px;
}

a.new-account-link {
    display: block;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 15px;
}